body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

.header {
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.header .crash-logo {
    width: 150px;
}

.header-shop {
    margin-left: auto;
}

.newsletter {
    margin-left: 80px;
}

.profile {
    padding: 8px;
    border-radius: 50%;
    background-color: #D5292C;
    margin-left: 80px;
    margin-right: 20px;
    width: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.album-cover {
    width: 1200px;
}

.hero-content {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.xcx-logo {
    width: 600px;
}

.crash-logo {
    width: 300px;
}

.hero-text {
    border: 3px solid #D5292C;
    padding: 10px 50px;
    font-weight: 900;
    font-size: 20px;
    align-self: flex-end;
}

.beg-for-you {
    border: 3px solid #D5292C;
    padding: 10px 50px;
    font-weight: 900;
    font-size: 20px;
    align-self: flex-end;
    color: white;
    text-decoration: none;
}

.shop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d5292cda;
    padding-bottom: 80px;
}

.vinyl-image,
.cd-image,
.cassette-image {
    width: 500px;
}

.vinyl,
.cd,
.cassette {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vinyl div,
.cd div,
.cassette div {
    background-color: black;
    border: 1px solid white;
    color: #D5292C;
    padding: 10px 50px;
    font-weight: 700;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-title {
    font-size: 50px;
    font-weight: 700;
}

.content-text {
    font-size: 30px;
    font-weight: 600;
}

.content-button {
    background-color: #D5292C;
    padding: 10px 50px;
    font-size: 20px;
    margin-bottom: 80px;
    font-weight: 600;
}

.footer {
    font-size: 12px;
    text-align: center;
    color: black;
    padding: 10px;
    background-color: #D5292C;
}

.footer p {
    margin: 0;
}

.credit-link {
    color: white;
    text-decoration: none;
}